/* styles.css */
body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(45deg, #3a3d98, #00d2ff);
  font-family: Arial, sans-serif;
}

#game-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#logo {
  position: absolute;
  padding: 10px 20px;
  background-color: #fff;
  color: #3a3d98;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 0.3s;
}

#logo:hover {
  transform: scale(1.1);
}

.hidden {
  display: none;
}
